{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELLO WORLD</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1 style="color:red">
    Hola
    </h1>
    <ul>
       {% for pr in product %}
       <li>
        {{ pr.name }} |
        {{ pr.description }}

        <img src="images/{{ pr.image }}" alt="fotofoto">

       </li>

       {% endfor %}
    </ul>

</body>
</html>