{% extends "base.html" %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}


<h1 class="saludo">Hola</h1>

<h2 class="invitado">
    {% if user.is_authenticated %}
        {{user.username}}
    {% else %}
        <h3>Hola invitado</h3>
    {% endif %}
</h2>

<div>

    <a href="{% url 'userprofiles:logout' %}">Logout</a>
</div>
<div>
    <a class="new"href="{% url 'new_product' %}">New Products</a>
</div>

<div>
    <ul>
       {% for product in product_queryset %}
       <li>
            <a href="{% url 'product_detail' pk=product.pk %}">
                {{ product.name }} |
            </a>

        {{ product.description }}
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="fotofoto">
        {% else %}
            <p>Sin imagen</p>
        {% endif %}
       </li>

       {% endfor %}
    </ul>
</div>


{% endblock %}