.product-detail {
    width: 50%; /* Ancho del div */
    margin: 0 auto; /* Centra el div horizontalmente */
    text-align: center; /* Centra el contenido del div */
    border: 1px solid #ccc; /* Borde para visualización */
    padding: 20px; /* Espaciado interno */
}

.product {
    font-size: 2em;
    color: #0ab724;
    margin-bottom: 10px;
}

.product1 {
    color: green;
    font-size: 18px;
    text-align: center;
}

.product2 {
    font-size: 1em;
    color: #999;
    margin-bottom: 5px;
}

.image {
    max-width: 50%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}





.container {
    text-align: center;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header {
    color: rgb(117, 189, 244);
    font-size: 50px;
    display: inline-block;
}

.home {
    width: 40px;
}

.animal-image {
    max-width: 15%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sangria {
    margin: 70px 0px;
}

.user-name{
    color: rgb(117, 189, 244);
    font-size: 30px;
    display: inline-block;
}
